# Node
node_modules

# Python cache
__pycache__
app/__pycache__

# Bytecode from python
*.pyc

# Python virtual environment
venv

# Automatically created config file
stack.*

# Automatically created app files
serverless_wsgi.py
.serverless-wsgi
wsgi_handler.py
wsgi.py
.wsgi_app
.aws_credentials

# OS X
.DS_Store

# Jetbrains
.idea

# Terraform
*.tfstate
*.backup
.terraform/

# Vim tmp files
*.swp

.vscode

# Serverless will create this automatically
requirements.txt

